* {
    margin: 0;
    padding: 0;
}

.menusor {
    background-color: purple;
    width: 100vw;
    height: 50px;
    display: flex;
}

.button {
    background-color: cyan;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.page {
    display: flex;
    height: calc(100vh - 50px);
}

.sarga {
    background-color: yellow;
    width: 200%;
}

.zold {
    background-color: green;
    width: 100%;
}